

body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    height: 100vh;
}
